<!--
  @description       : 
  @author            : Matias Kruk
  @group             : 
  @last modified on  : 11-10-2020
  @last modified by  : Matias Kruk
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   11-09-2020   Matias Kruk   Initial Version
-->
<template>
    <lightning-input label="Planet" value={planet} onchange={handleChangePlanet}></lightning-input>
    <lightning-input label="Quarter" value={quarter} onchange={handleChangePhase}></lightning-input>
    <lightning-input label="Period Start" value={period_start} onchange={handleChangePeriodStart}></lightning-input>
    <lightning-input label="Period End" value={period_end} onchange={handleChangePeriodEnd}></lightning-input>
    <lightning-input label="Period Step" value={period_step} onchange={handleChangePeriodStep}></lightning-input>
    <lightning-button variant="brand" label="Actualizar" title="Actualizar" onclick={handleClick} class="slds-var-m-left_x-small"> </lightning-button>
    <div if:true={isUploading} class="slds-is-relative">
        <lightning-spinner alternative-text="Cargando imagen"> </lightning-spinner>
    </div>
    <template if:false={isUploading}><img src={phaseImage} /></template>
</template>
